.wrapper {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 p-4;
}

.error {
  @apply p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200
   dark:text-red-800 w-fit; 
}

.input {
  @apply block pl-10 h-12 w-full sm:w-64 bg-gray-100 border rounded-md focus:ring-blue-500 focus:border-blue-500
  focus:outline-none;
}

.button {
  @apply flex justify-center font-medium items-center w-fit border-2 py-2 px-6 rounded shadow mt-6 mx-auto sm:mr-0 sm:mt-0
  sm:ml-4 sm:mb-0 disabled:text-white disabled:bg-gray-300 disabled:focus:outline-none disabled:border-0;
}

.search-icon {
  @apply flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none;
}

.show-more {
    @apply w-fit py-2 px-6 rounded shadow bg-cityBike text-white;
}